/* Abner Dos Santos Almeida 76030 */
body{

margin:0;
font-family:Arial;

}

.counter-section{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

gap:20px;

background:linear-gradient(135deg,#f6b18a,#8a8df6);

}

#value{

font-size:80px;

}

.buttons{

display:flex;
gap:20px;

}

button{

padding:10px 20px;
font-size:16px;
cursor:pointer;

}
